{% load staticfiles %}

<!-- <div class="bg-light border-right border-left" id="sidebar-wrapper">

    <div class="list-group list-group-flush">
        <a href="/mission/" class="list-group-item active list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/mission.png' %}"></img>
            Mission
        </a>
        <a href="/access/" class="list-group-item list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/access.png' %}"></img>
            Access
        </a>
        <a href="/gallery/" class="list-group-item list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/gallery.png' %}"></img>
            Gallery
        </a>
        <a href="/equipment/" class="list-group-item list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/equipment.png' %}"></img>
            Equipment
        </a>
        <a href="/contact/" class="list-group-item list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/contact.png' %}"></img>
            Contact
        </a>
        <a href="/news/" class="list-group-item list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/news.png' %}"></img>
            News
        </a>
        <a href="/wiki/" class="list-group-item list-group-item-action bg-light">
            <img class="sidebar-item-icon" src="{% static 'img/wiki.png' %}"></img>
            Wiki
        </a>                        
    </div>
</div> -->


<div class="border-right border-left" id="sidebar-wrapper">

    <div class="list-group list-group-flush" role="tablist">
        <a href="#" class="list-group-item list-group-item-action active">
            <img class="sidebar-item-icon" src="{% static 'img/mission.png' %}"></img>
            Mission
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img class="sidebar-item-icon" src="{% static 'img/access.png' %}"></img>
            Access
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img class="sidebar-item-icon" src="{% static 'img/gallery.png' %}"></img>
            Gallery
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img class="sidebar-item-icon" src="{% static 'img/equipment.png' %}"></img>
            Equipment
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img class="sidebar-item-icon" src="{% static 'img/contact.png' %}"></img>
            Contact
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img class="sidebar-item-icon" src="{% static 'img/news.png' %}"></img>
            News
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img class="sidebar-item-icon" src="{% static 'img/wiki.png' %}"></img>
            Wiki
        </a>                        
    </div>
</div>
