{% extends "nicpages/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-nicpage{% endblock %}

{% block content %}
	<section>
	    {% for block in page.body %}
            <section class="block-{{ block.block_type }}">
                {% include_block block %}
            </section>
	    {% endfor %}
	</section>
	<section>
		{% if page.blogs %}
			<h3>Latest news</h3>
			{% for blog in page.blogs %}
				{% include "nicpages/includes/blog_list_item.html" %}
			{% endfor %}
		{% endif %}
	</section>
{% endblock %}
