{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "nicpages/includes/intro.html" with intro=self.intro only %}

    <section>
        {% for block in page.body %}
            {% if block.block_type == 'h1' %}
                <h1>{{ block.value }}</h1>
            {% elif block.block_type == 'h2' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'h3' %}
                <h3>{{ block.value }}</h3>
            {% elif block.block_type == 'h4' %}
                <h4>{{ block.value }}</h4>
            {% elif block.block_type == 'h5' %}
                <h5>{{ block.value }}</h5>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {% include_block block %}
                </section>
            {% endif %}
        {% endfor %}
    </section>    

    {% if request.GET.tag|length %}
        <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
    {% endif %}

    <div class="list-group">
        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for blog in blogs %}
            {% include "nicpages/includes/blog_list_item.html" %}
        {% empty %}
            No blogs found
        {% endfor %}
    </div>

    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <div class="row">
        <div class="col-sm-4 previous">
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>

    {% include "nicpages/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}