@charset "utf-8";
/* CSS Document */
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

body {
  margin-top: 0px;
  color: #000;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
}

.heading {
  font-family: Calibri, "Helvetica", san-serif;
  line-height: 1.5em;
  color: black;
  font-size: 24px;   
}

.centre-heading {
  font-family: Calibri, "Helvetica", san-serif;
  line-height: 1.5em;
  color: black;
  font-size: 24px;  
  text-align: center;
}

.headline {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: black;
    font-size: 24px;
}

.headline:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.img-responsive {
  width: 100%;
  height: auto;
}

.site-header {
  height: 43px;
  width: 100%;
  background-color: #EB2F2D;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.site-footer {
  display: none;
}

#left {
  width: 70px;
  height: 43px;  
}

#center {
  width: 30px;
  height: 43px;
  margin-left: -5px;
}

#heading {
  display: inline-block;
  font-size: 18px;
  color: white;
  vertical-align: middle;
  margin-top: 5px;
}

#heading::after {
  content: none;
}

.kings-brand{
  display: none;
}

.sidebar {
  display: none;
}

/* Navigation Menu - Background */
.navigation {
  list-style: none;
  background: #111;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 0;
  padding-left: 2em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.wrapper {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 15px; 
  top: 10px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4'/><rect y='16' width='30' height='4'/><rect y='8' width='30' height='4'/></svg>"); 
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .wrapper {
  transition: right 0.2s;
}

.nav-trigger:checked + label {
  right: 215px;
}

.nav-trigger:checked ~ .wrapper {
  right: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

#welcome {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#welcome > #welcome-text {
    display: table-cell;
    vertical-align: middle;
}

.scope {
  float: left;
  margin-left: 0;
  padding-top: 10px;
  padding-left: 50px;
}

.content {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
}

.equipment img {
  width: 280px;
  height: 100px;
}

.scope-features {
  margin-left: 20px;
  float: right;
  width: 300px;
  height: 200px;
}

#video {
  display: block;
  margin: 0 auto;  
  width: 300px;
  height: 200px;
}

#presentation-link {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#presentation-link > #presentation-link-text {
    display: table-cell;
    vertical-align: middle;
}

#image-gallery {
  width: 70%;
  margin: 0 auto;
}

#nikon-map {
  display: block;  
  width: 100%;
  height: auto;
}

#map {
  width: 90%;
  margin: 0 auto;
}

#iframe-map {
  width: 300px;
  height: 300px;
  padding-bottom: 40px;
}

/**
 * Posts
 */
 .post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 30px;
    }
}

.post-meta {
  font-size: 16px;
  color: gray;
}

.post-link {
    display: block;
    font-size: 20px;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: 30px;
}

.post-content h2 {
  font-size: 20px;
}

.post-content h3 {
  font-size: 18px;
}

.post-content h4 {
  font-size: 16px;
}

img.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.right { float: right; margin: 0 0 1em 1em; }
img.left { float: left; margin: 0 1em 1em 0; }
img.center { display: block; margin-left: auto; margin-right: auto; }
.right { float: right; }
.left { float: left; }
.center { display: block; margin-left: auto; margin-right: auto; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }  

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

@media all and ( min-width: 750px ) {

  .one-half.column {
    width: 100%;
    float: left;
    margin-left: 0;
    box-sizing: border-box; }

  .site-header {
    height: 120px;
    width: 100%;
    background-color: #EB2F2D;
    background-color: #EB2F2D;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;

  }

  #big-footer {
    display: block;
  }    

  .site-footer {
    display: block;
    height: 60px;
    width: 100%;
    background-color: #EB2F2D;    
  }

  .page {
    width: 100%;
    height: 768px;
    overflow-y: scroll;
    margin-top: 10px;
    background: #fff;
  }

  .page-content {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40px;
  }

  #left {
    width: 195px;
    height: 120px;
  }

  #center {
    width: 82px;
    height: 120px; 
    margin-left: -5px;        
  }

  #heading {
    display: inline-block;
    font-size: 38px;
    color: white;
    vertical-align: middle;
    margin-top: 5px;
  }

  #heading::after {
    content: none;
  }  

  .kings-brand{
    display: none;
  } 

  .sidebar {
    display: none;
  }

  #video {
    width: 400px;
    height: 300px;
  }

  #map {
    width: 90%;
    margin: 0 auto;
  }

  #iframe-map {
    width: 500px;
    height: 350px;
    padding-bottom: 40px;
  }  
}

@media all and ( min-width: 960px ) {

  .one-half.column { width: 48%; }

  .content {
    margin-left: 250px;
    margin-right: 50px;
    padding-top: 40px;
  }

  #sisters {
    padding: 30px;
    background: #FAF0E1;
  }

  .navigation, .nav-trigger, label[for="nav-trigger"], #nav-trigger {
    display: none;
  }

  .sidebar {
    display: block;
    position: absolute;
    left: 0px;
    top: 130px;
    bottom: 60px;
    width: 200px;
    height: 520px;
  }

  .sidebar a {
    color: #222;
    text-decoration: none;
  }

  .sidebar a:hover {
    color: #bdbdbd;
  }

  .sidebar a.active {
    color: #008d99;
  }

  .sidebar ul {
      margin-top: 35px;
      list-style-type: none;
      padding: 0;
  }

  .sidebar li {
    text-indent:0.4em;
    font-size: 18px;
    font-weight:bold;
  }

  .kings-brand {
    display: inline-block;
    width: 123px;
    height: 94px;
    margin-top: 10px;
    margin-right: 10px;
  }  

  #mission{
    padding-top: 0px;
    padding-left: 60px;
  }

  #access{
    padding-top: 37px;
    padding-left: 50px;
  }

  #gallery{
    padding-top: 23px;
    padding-left: 5px;
  }

  #equipment{
    padding-top: 25px;
    padding-left: 10px; 
  }

  #contact{
    padding-top: 33px;
    padding-left: 35px; 
  }

  #news{
    padding-top: 35px;
    padding-left: 65px; 
  }

  #wiki{
    padding-top: 32px;
    padding-left: 85px; 
  }

  #video {
    width: 600px;
    height: 400px;
  }

  #map {
    width: 90%;
    margin: 0 auto;
  }

  #iframe-map {
    width: 600px;
    height: 400px;
    padding-bottom: 40px;
  }   
}