{% load global_tags wiki_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% get_site_root as site_root %}
        <title>{% block title %}{% if self.seo_title %}{{ site_root.title }} | {{ self.seo_title }}{% else %}{{ site_root.title }} | {{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{%  static 'wiki/img/wiki_favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
        <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/wiki.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/syntax.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {# font awesome #}
        <script src="https://use.fontawesome.com/75c38f87d8.js"></script>        
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% include "wiki/includes/header.html" %}
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 content">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-md-4">
                        {% include "wiki/includes/sidebar.html" %}
                    </div>
                </div>
            </div>
        </div>

        {% include "wiki/includes/footer.html" %}
        
        <style type="text/css">
            .wagtail-userbar-trigger, .wagtail-icon-wagtail:before {
                content: "\f013";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            /*--adjust as necessary--*/
                color: #000;
                font-size: 18px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>        
        <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })

            var affixElement = '#main-nav';

            $(affixElement).affix({
              offset: {
                // Distance of between element and top page
                top: function () {
                  return (this.top = $(affixElement).offset().top)
                }
              }
            });


        </script>

        <script type="text/javascript">

            function load_info(e,identifier) {
                e.preventDefault();
                $(".modal-body #info_table").empty();
                $(".modal-body #info_table").append('<tbody></tbody>');
                var image_id = $(identifier).data("id");
                console.log($(identifier).attr('href'));
                $.ajax({
                  type: "GET",
                  url: $(identifier).attr('href'),
                  data : {'imageId': image_id},
                  dataType: 'jsonp',
                  success: function(results) {
                    console.log(results);
                    console.log(Object.keys(results).length);
                    $.each(results, function(k, v) {
                        //display the key and value pair
                        console.log(k + ' is ' + v);
                        $(".modal-body #info_table > tbody:last-child").append('<tr><th>'+k+': '+'</th><td>'+v+'</td></tr>');
                    });
                    var image_name = results.Image_name;
                    $(".modal-header #image_info_modal_label").html( "Metadata for image: " + image_name );
                    
                    $("#image_info_modal").modal('show');
                  }
                });
            }
        </script>        

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
