{% load menu_tags %}
<header id="branding">
    <div class="hgroup-wrap">
        <div class="container-fluid">
            <section class="hgroup-right" class="clearfix"></section>
            <section id="site-logo">
                <h1 id="site-title">
                    <a href="/wiki">Nikon Imaging Centre @ KCL Wiki</a>
                </h1>
            </section>
        </div>
    </div>
    <div class="header-main">
        {% flat_menu 'wiki_header_menu' template='wiki/tags/header_menu.html' apply_active_classes=True %}
    </div>
</header>