<div id="sidebar">
    <aside id="contact-info">
        <h3 class="sidebar-title">Contact</h3>
        <p>
            Scientific Director:
            <a href="mailto:maddy.parsons@kcl.ac.uk">Prof Maddy Parsons</a>
        </p>
        <p>
            Manager:
            <a href="mailto:daniel.r.matthews@kcl.ac.uk">Dr Daniel Matthews</a>
        </p>
        <p>
            Deputy manager:
            <a href="mailto:isma.ali@kcl.ac.uk">Miss Isma Ali</a>
        </p>
            <p>
            Deputy manager:
            <a href="mailto:benjamin.robinson@kcl.ac.uk@kcl.ac.uk">Dr Ben Robinson</a>
        </p>
        <p>
            <a href="https://ppms.eu/kcl/login/?pf=2">Request a training session</a>
        </p>                
    </aside>

    <aside>
        {% include 'wiki/includes/google_map.html' %}
    </aside>
</div> 