<div id="sidebar">
    <aside id="contact-info">
        <h3 class="sidebar-title">Contact</h3>
        <p>
            Scientific Director:
            <a href="mailto:maddy.parsons@kcl.ac.uk">Prof Maddy Parsons</a>
        </p>
        <p>
            Manager:
            <a href="mailto:daniel.r.matthews@kcl.ac.uk">Dr Daniel Matthews</a>
        </p>
        <p>
            Deputy manager:
            <a href="mailto:isma.ali@kcl.ac.uk">Miss Isma Ali</a>
        </p>
            <p>
            Deputy manager:
            <a href="mailto:benjamin.robinson@kcl.ac.uk@kcl.ac.uk">Dr Ben Robinson</a>
        </p>
        <p>
            <a href="https://ppms.eu/kcl/login/?pf=2">Request a training session</a>
        </p>                
    </aside>

    <aside>
        <h3 class="sidebar-title">Find us</h3>
        <div style='overflow:hidden;height:250px;width:250px;padding-bottom:20px;'>
            <div id='gmap_canvas' style='height:250px;width:250px;'></div>
            <style type="text/css">
                #gmap_canvas img{max-width:none!important;background:none!important;}
            </style>
        </div>
    </aside>
</div> 