{% load wagtailcore_tags %}

<!-- image info modal -->
<div class="modal fade" id="image_info_modal" tabindex="-1" role="dialog" aria-labelledby="image_info_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="image_info_modal_label">{{ image.getName }}</h4>
      </div>
      <div class="modal-body">
        <table id="info_table">
            <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row" id="gallery-thumb">

{% for img in value %}
    <div class="item-container col-md-6">
      {{ img }}
    </div>
  {% if forloop.counter|divisibleby:2 %}
</div>
<div class="row" id="gallery-thumb">
  {% endif %}
{% endfor %}
</div>